<h8k-navbar header="Catalog Viewer"></h8k-navbar>

<div class="layout-column justify-content-center mt-75">
  <div class="layout-row justify-content-center">
    <div class="card pt-25">
      <!-- Viewer Component -->
      <viewer [catalogImage]="catalogsList[activeIndex].image"></viewer>

      <!-- Navigation and Thumbnails -->
      <div class="slider-container">
        <button
          class="icon-btn"
          data-test-id="prev-slide-btn"
          (click)="selectedCatalog((activeIndex - 1 + catalogsList.length) % catalogsList.length)"
        >
          <i class="material-icons">chevron_left</i>
        </button>

        <thumbs
          [items]="catalogsList"
          [currentIndex]="activeIndex"
          (selectedCatalog)="selectedCatalog($event)"
        ></thumbs>

        <button
          class="icon-btn"
          data-test-id="next-slide-btn"
          (click)="selectedCatalog((activeIndex + 1) % catalogsList.length)"
        >
          <i class="material-icons">chevron_right</i>
        </button>
      </div>

    </div>
  </div>

  <!-- Slideshow Toggle -->
  <div class="layout-row justify-content-center mt-25 slideshow-toggle">
    <input
      type="checkbox"
      data-test-id="toggle-slide-show-button"
      (change)="toggleSlideShow($event.target.checked)"
    />
    <label class="ml-6">Start Slide Show</label>
  </div>
</div>
